<html>
    <head><link rel="stylesheet" href="{{asset('css/bootstrap.css')}}"></head>
    <body> 
        <div class="container-fluid"> 
            
        <h2>Enter Url To Shorten </h2>
        <h3>*Note you must include http:// </h3> 
     {{ form_start(form) }}
     {{ form_widget(form) }}
    
    <input type="submit" value="submit">   
      {{ form_end(form) }}
            
        </div>   
        </body>
    </html>        
